# Supabase
VITE_SUPABASE_URL=https://zoppogrdlmswqiybhcmh.supabase.co
VITE_SUPABASE_ANON_KEY=<tu_anon_key_aqui>

# ExchangeRate API
VITE_EXCHANGE_RATE_API_URL=https://api.exchangerate-api.com/v4/latest/

# Site URL
VITE_SITE_URL=http://localhost:5173
